.category-header {
    padding: 0.5rem;
}

.category-header-icons {
    display: flex;
    justify-content: space-between;
}

.home-icon {
    margin-left: 1rem;
    background-color: transparent;
    border: none;
}

.category-title {
    display: flex;
    justify-content: center;
}

.category-task-container {
    display: flex;
    margin: 0.5rem;
    align-items: flex-end;
    justify-content: space-between;
}

.category-tasks-list {
    margin: 1rem;
}

.category-icon {
    font-size: 1.5rem;
}