.addTask {
    align-self: center;
    justify-self: center;
}

.addTask svg {
    height: 4rem;
}

.homeMain {
    min-height: 80vh;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.home h1 {
    margin-left: 1rem;
}